{% extends "base.html" %}
{% block body %}

<!-- NAVIGATION BAR -->
<div class="masthead">
  <nav>
    <ul class="nav nav-justified">
      <li><a href="search">search</a></li>
      <li><a href="tips-and-tricks">tips and tricks</a></li>
      <li class="active"><a href="#">about</a></li>
      <li><a href="contact">contact</a></li>
    </ul>
  </nav>
</div>

<h1>About</h1>
<br />
<p class="lead">FontFinder was conceived in the context of the <a href="http://insightdatascience.com/" target="_blank">Insight Data Science Program</a>, during the 2016B session. I felt the problem of searching for fonts wasn't solved adequately by the existing tools, and that a solution based on deep learning might be more powerful than other approaches.</p>

<p class="lead">See the <a href="http://www.slideshare.net/MichelTrottierMcDona/fontfinder-demo-insight-2016b" target="_blank">demo presentation</a>.</p>

<p class="lead">My name is Michel Trottier-McDonald and my background is in particle physics. I took part in the search for the Higgs boson from 2008 to 2014. I was directly involved in finding evidence that it couples to leptons. This project was done in the context of my transition from academia to industry.</p>

<p class="lead">FontFinder is based on the following technologies:</p>

<div class="row" style="margin-left:auto;margin-right:auto;">
  <div class="col-xs-6 col-sm-2">
    <a href="https://www.python.org/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" height="120" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-3">
    <a href="https://www.tensorflow.org/" target="_blank">
      <img src="https://i.ytimg.com/vi/oZikw5k_2FM/maxresdefault.jpg" height="120" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-3">
    <a href="http://opencv.org/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/OpenCV_Logo_with_text.png" height="120" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-4">
    <a href="https://aws.amazon.com/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/AmazonWebservices_Logo.svg/1024px-AmazonWebservices_Logo.svg.png" height="90" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>
</div>

<div class="row" style="margin-left:auto;margin-right:auto;">
  <div class="col-xs-6 col-sm-6">
    <a href="http://flask.pocoo.org/" target="_blank">
      <img src="https://worldvectorlogo.com/logos/flask.svg" height="120" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>

  <div class="col-xs-6 col-sm-6">
    <a href="https://www.postgresql.org/" target="_blank">
      <img src="http://logonoid.com/images/postgresql-logo.png" height="120" style="display:block;margin:auto;margin-top:25px;margin-bottom:25px;">
    </a>
  </div>
</div>

{% endblock %}