{% extends "base.html" %}
{% block body %}

<!-- NAVIGATION BAR -->
<div class="masthead">
  <nav>
    <ul class="nav nav-justified">
      <li><a href="search">search</a></li>
      <li><a href="tips-and-tricks">tips and tricks</a></li>
      <li><a href="about">about</a></li>
      <li class="active"><a href="H">contact</a></li>
    </ul>
  </nav>
</div>

<h1>Contact</h1>
<br />
<p class="lead">Questions, suggestions and even feelings you may want to express in relation to FontFinder can be sent to <a href="mailto:contact@fontfinder.me">contact@fontfinder.me</a>. I'll do my best to reply! </p>

{% endblock %}