{% extends "base.html" %}
{% block body %}

<!-- NAVIGATION BAR -->
<div class="masthead">
  <nav>
    <ul class="nav nav-justified">
      <li class="active"><a href="#">search</a></li>
      <li><a href="tips-and-tricks">tips and tricks</a></li>
      <li><a href="about">about</a></li>
      <li><a href="contact">contact</a></li>
    </ul>
  </nav>
</div>

<!-- INTRODUCTION -->
<div class="starter-template">
  <div>
  <h2>Seen a font that inspires you?<br />Would you like to find it or something similar?</h2>
  </div>

<br /><br />

<!-- USER IMAGE UPLOAD -->
<div>
  <form action="" method=post enctype=multipart/form-data>
    <p class="lead" style="margin-bottom:8px;">upload an image of a single character in the font you want</p>
    <div class="row">
      <div class="col-xs-6" style="padding-top:0px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
        <img src={{ char_upload }} class="img-thumbnail" style="float:right; padding-left:15px; padding-right:15px; padding-top:3px; padding-bottom:3px;">
      </div>
      <div class="col-xs-6" style="padding-top:0px; padding-bottom:15px; padding-left:0px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
        <p>
          <input type=file name=file style="float:left; magin-top:0px;">
          <br />
          <input type=submit value=upload class="btn btn-default btn" style="float:left; margin-top:2px; width:77px; border-radius:5px; border: 1px solid rgb(200,200,200);">
        </p>
      </div>
    </div>
  </form>
</div>

<br /><br />

<!-- CHARACTER INPUT -->
<form  action="/search" method="GET">
  <div class="form-group">
    <p class="lead" style="margin-bottom:8px;">specify which character, then launch the search</p>
    <div class="row">
      <div class="col-xs-6" style="padding-top:0px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
        <input type="text" id="character" name="character" placeholder={{ char_placeholder }} style="text-align: center; width:77px; height:53px; font-size:24pt; font-weight:lighter; border-radius:5px; border: 1px solid rgb(200,200,200); float:right;" maxlength="1">
      </div>
      <div class="col-xs-6" style="padding-top:0px; padding-bottom:15px; padding-left:0px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
        <button type="submit" class="btn btn-default btn" style="font-size:16px; font-weight:bold; width:77px; height:53px; float:left;">search</button>
      </div>
    </div>
  </div>
</form>

<!-- RESULTS -->
{% if results %}
<div class="page-header">
  <h1>Results</h1>
</div>
<div>
  {% for result_row in results %}
  <div class="row">
    {% for result in result_row %}
    <div class="col-xs-6 col-sm-3" style="padding-top:15px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
      <img src={{ request.url_root + 'dynamic/' + result['img_path'] }} class="img-thumbnail">
      <h4 class="list-group-item-heading"> {{ result['name'] }} </h4>
      <p class="list-group-item-text" style="font-style: italic; font-size:8pt; color:rgb(155,155,155)"> {{ result['file'] }} </p>
      <p class="list-group-item-text"> {{ result['licensing'] }} </p>
      <a href={{ result['url'] }} target="_blank">
        <p class="list-group-item-text"> {{ result['origin'] }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}