<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FontFinder Search Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FontFinder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Find Fonts</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">

        <h1>FontFinder</h1>

        <div>
        <p class="lead">Seen a font that got you inspired?</p>
        <p class="lead">Can't find it?</p>
        <p class="lead" id="rightplace" style="font-weight: bold;">You've come to the right place!</p>
        <p></p>
        <p class="lead">First, upload an image of a single character in the font you are looking for.</p>
      </div>

      <div>
        <form action="" method=post enctype=multipart/form-data>
          <div class="row">
            <div class="col-xs-6 col-md-4" style="padding-top:15px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
              <img src={{ char_upload }} class="img-thumbnail" style="float: right;">
            </div>
            <div class="col-xs-6 col-md-4" style="padding-top:15px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
              <p>
                <input type=file name=file style="float: left;">
                <br />
                <input type=submit value=upload style="float: left;  margin-top:8px;">
              </p>
            </div>
          </div>
        </form>
      </div>

      <br></br>
      <p class="lead">What character is it?</p>

      <form  action="/index" method="GET">
        <div class="form-group">
          <label for="birth_month">Character:</label>
          <input type="text" id="character" name="character" placeholder={{ char_placeholder }}>
        </div>

        <div>
          <button type="submit" class="btn btn-default btn">Match!</button>
        </div>
      </form>

      <div class="page-header">
        <h1>Results</h1>
      </div>
      <div>
        {% for result_row in results %}
        <div class="row">
          {% for result in result_row %}
          <div class="col-xs-6 col-sm-3" style="padding-top:15px; padding-bottom:15px; background-color:rgba(255,255,255,.0); border:1px solid rgba(255,255,255,.0);">
            <img src={{ request.url_root + 'dynamic/' + result['img_path'] }} class="img-thumbnail">
            <h4 class="list-group-item-heading"> {{ result['name'] }} </h4>
            <p class="list-group-item-text" style="font-style: italic; font-size:8pt; color:rgb(155,155,155);"> {{ result['file'] }} </p>
            <p class="list-group-item-text"> {{ result['licensing'] }} </p>
            <a href={{ result['url'] }} target="_blank">
              <p class="list-group-item-text"> {{ result['origin'] }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
