body {
  padding-top: 70px;
  padding-bottom:30px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#fontitem {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}